body {
    padding: 30px;
    background-image: url("../images/SpaceBackground.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin : 0;
}
.menu{
    height: 60px;
    width: 100%;
    border-radius: 5px 5px / 5px 5px;
    background-color: rgb(48, 48, 48);
    position: sticky;
}
.espace80px {
	width:100%;
	height:80px;
	margin-bottom: unset;
}
.comm{
    background-attachment: fixed;
    background-image: url("");
    background-size: cover;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    border-radius: 3px;
    border: 3px solid black;
    background-color: #707070;
    border-radius: 5px 5px / 5px 5px;
    padding: 30px;
}
.desct{
    width: 10%;
    margin-top: 1%;
    border: 3px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}